body {
  background-color: #2a2e3c;
  color: #e0e0e0;
  font-family: Cochin;
  font-size: 24px;
}

h1 {
  margin-bottom: 100px;
  padding-top: 65px;
  text-align: center;
  font-size: 4rem;
}

.nav-link {
  color: #E0E0E0;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #FF101F;
}

.form {
  border: #233D4D solid 4px;
  margin: 20px;
  padding: 5%;
  width: 50%;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  background-color: white;
  color: #233D4D;
  font-weight: bolder;
}